numpy
pandas
fastapi
psycopg2-binary
requests
lxml
uvicorn
pydantic
bcrypt
pyjwt
python-dotenv
sqlalchemy
passlib
python-multipart
sqlmodel
pydantic-core
click
starlette
typing-extensions
typing_inspection
annotated_types
anyio
sniffio
h11